<!doctype html>
<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">15 layer Model Inputs</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Simple Model Inputs</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Resistivity to Hk Creator</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">About</a>
        </li>
    </ul>
</div>
<head>
	<title>
	Welcome Flask App
	</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"></link>
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous"></link>
</head>

<h1>Fifteen Layer Modflow USG Model Inputs Page Version 2 </h1>


<body class="main">

	<p>Simple Model Inputs:</p>
	

</body>

<form class="pure-form pure-g">
    <div class="pure-u-1-4">
	    <label>Hk</label>
        <input type="text" class="pure-input-1" placeholder="Layer 1" />
    </div>
      <div class="pure-u-1-4">
	  <label>Sy</label>
        <input type="text" class="pure-input-1" placeholder="Layer 1" />
    </div>
	    <div class="pure-u-1-4">
		<label>Ss</label>
        <input type="text" class="pure-input-1" placeholder="Layer 1" />
    </div>
	    <div class="pure-u-1-4">
		<label>Layer Top</label>
        <input type="text" class="pure-input-1" placeholder="Layer 1" />
    </div>
	
    <div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 3" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 3" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 3" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 3" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 3" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 4" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 4" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 4" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 4" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	
	<div class="pure-u-1-4">
        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
      <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
	    <div class="pure-u-1-4">

        <input type="text" class="pure-input-1" placeholder="Layer 2" />
    </div>
</form>